# Secrets
**/.env
**/.env.*
**/secrets/
**/*.key
**/*.pem

# Python
**/venv/
**/.venv/
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/

# Logs
**/experiment.log
**/api_logs*.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
